doctype html
html(lang='en')
     head
          meta(charset='utf-8')
          meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
          title Mintex|cart

     body
          section.container
               div
                    for product in products
                         div
                              -var producturl='http://localhost:3000/mintex/product?productid=' + product.id;
                              a(href=producturl)
                                   h3= product.name
                                   h3= product.price
                              -var removeurl= 'http://localhost:3000/mintex/removefromcart?i=' + i;
                              h5
                                   a(href=removeurl)
                                        | remove from cart
                                   |.
